sudo: required

branches:
  only:
    - master
    - main

services:
  - docker                  

before_install:            
  - mkdir -p output
  - docker pull asciidoctor/docker-asciidoctor

# Name the file explicitly until we sort out the organization of the
# 'documentation' project. Removed the Hyrax Guide since it is now in
# its own project. jhrg 1/11/17

script:
  - docker run -v $TRAVIS_BUILD_DIR:/documents/ --name  asciidoc-to-html asciidoctor/docker-asciidoctor      asciidoctor -D /documents/output README.adoc UserGuideComprehensive.adoc QuickStart.adoc
  - docker run -v $TRAVIS_BUILD_DIR:/documents/ --name   asciidoc-to-pdf asciidoctor/docker-asciidoctor  asciidoctor-pdf -D /documents/output README.adoc UserGuideComprehensive.adoc QuickStart.adoc
  - docker run -v $TRAVIS_BUILD_DIR:/documents/ --name tutorials-to-html asciidoctor/docker-asciidoctor     asciidoctor -a toc=left -a docinfo=shared -D /documents/output/tutorials tutorials/*.adoc
  - docker run -v $TRAVIS_BUILD_DIR:/documents/ --name  tutorials-to-pdf asciidoctor/docker-asciidoctor asciidoctor-pdf -a toc=left -a docinfo=shared -D /documents/output/tutorials tutorials/*.adoc
  - docker run -v $TRAVIS_BUILD_DIR:/documents/ --name technical-to-html asciidoctor/docker-asciidoctor     asciidoctor -a toc=left -a docinfo=shared -D /documents/output/technical technical/*.adoc
  - docker run -v $TRAVIS_BUILD_DIR:/documents/ --name  technical-to-pdf asciidoctor/docker-asciidoctor asciidoctor-pdf -a toc=left -a docinfo=shared -D /documents/output/technical technical/*.adoc

after_error: 
  - docker logs asciidoc-to-html
  - docker logs asciidoc-to-pdf
  - docker logs tutorials-to-html
  - docker logs tutorials-to-pdf
  - docker logs technical-to-html
  - docker logs technical-to-pdf

after_failure:
  - docker logs asciidoc-to-html
  - docker logs asciidoc-to-pdf
  - docker logs tutorials-to-html
  - docker logs tutorials-to-pdf
  - docker logs technical-to-html
  - docker logs technical-to-pdf

# The README.adoc here includes the links needed for the Hyrax_Guide that is in the
# hyrax_guide repo. jhrg 10/11/17

after_success:      
  - |
    cd output; ls -lR
    mv README.html index.html
    cp -R ../images images;
    ls -lRmq
  - git init
  - echo "GH_USER_NAME ${GH_USER_NAME}"
  - git config --global user.name "${GH_USER_NAME}"
  - echo "GH_USER_EMAIL ${GH_USER_EMAIL}"
  - git config --global user.email "${GH_USER_EMAIL}"
  - echo "GH_REF ${GH_REF}"
  - git add . ; git commit -m "Deploy to GitHub Pages"
  - git branch
  # The URL was "https://${GIT_UID}:${GIT_TOKEN}@github.com/OPENDAP/documentation"
  - git push --force "https://${GH_TOKEN}@${GH_REF}" master:gh-pages
  - git status
